html,body {
	margin: 0;
}

body {
	background-color: #ffffff;
	font-family: Helvetica, sans;
}

a {
	text-decoration: none;
	color: #000000;
}

/*header*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #000000;
    background-color: #FAF9F5;
    overflow-x: hidden;
    transition: 0.5s;
    text-transform: uppercase;
    padding-top: 6.5vw;
}

.sidenav a {
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 400;
    color: #000000;
    display: block;
    transition: 0.3s;
    margin-left: 3vw;
    padding-bottom: 1.5vw;
    letter-spacing: 0.15vw;
    width: 8vw;
}

.sidenav .closebtn {
    position: absolute;
    font-size: 1.8vw;
    font-weight: 300;
    margin-left: 13.5vw;
    margin-top: -6vw;
}

.head {
	position: fixed;
	text-transform: uppercase;
	width: 100%;
	font-size: 1.2vw;
	padding-top: 0.9vw;
	z-index: 1;
}

.head span {
	font-size: 2.1vw;
	cursor: pointer;
	font-weight: 300;
	margin-left: 1.6vw;
}

.head a {
	position: absolute;
	text-transform: uppercase;
	font-weight: 400;
	margin-top: 0.75vw;
	margin-left: 89.5vw;
	letter-spacing: 0.1vw;
}

/*header*/

/*content*/
.content {
	position: absolute;
	margin-top: -0.3vw;
	width: 100%;
	text-align: center;
	background-color: #fdebd3;
	height: 48.2vw;
}
/*content*/

/*questions*/
.forwho {
	margin-top: -13.5vw;
}

.forwho a {
	text-transform: lowercase;
	font-family: Graphik, avenir next, sans-serif;
	border: 0.2vw solid #000000;
	border-radius: 0.4vw;
	font-size: 1.8vw;
	font-weight: 400;
	letter-spacing: 0.14vw;
	margin-left: 3vw;
	margin-right: 3vw;
}

.youbutton {
	padding: 1.1vw 4vw 1.1vw 4vw;
}

.giftbutton {
	padding: 1.1vw 4.8vw 1.1vw 4.8vw;
}

.giftbutton:hover {
	color: #ffffff;
	background-color: #000000;
	transition: 0.3s;
}

.youbutton:hover {
	color: #ffffff;
	background-color: #000000;
	transition: 0.3s;
}

.questions {
	background-color: #faf9f5;
}

.youquestion {
	position: absolute;
	margin-top: 6vw;
	width: 100%;
	text-align: center;
	font-family: avenir next, sans-serif;
	font-size: 1.3vw;
	height: 30vw;
}

#female {
	position: absolute;
	margin-left: -5.5vw;
	margin-top: -11.1vw;
	width: 11.2vw;
}

.youquestion figure {
	display: inline-block;
	width: 11vw;
	margin-top: 4vw;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	cursor: pointer;
}

.youquestion figcaption {
	margin-top: 1vw;
}

.qcount {
	cursor: default;
	margin-bottom: 2vw;
	border: 0.1vw solid #cfcfcf;
}

.youquestion0 {
	position: absolute;
	margin-top: 6vw;
	width: 100%;
	text-align: center;
	font-family: avenir next, sans-serif;
	font-size: 1.3vw;
	height: 30vw;
}

.youquestion0 figure {
	display: inline-block;
	width: 14vw;
	margin-top: 4vw;
	cursor: pointer;
}

.youquestion0 figcaption {
	margin-top: 1vw;
}

.youquestion1 {
	position: absolute;
	margin-top: 6vw;
	width: 100%;
	text-align: center;
	font-family: avenir next, sans-serif;
	font-size: 1.3vw;
	height: 30vw;
}

.youquestion1 figure {
	display: inline-block;
	width: 11vw;
	margin-top: 4vw;
	padding-left: 1vw;
	padding-right: 1vw;
	cursor: pointer;
}

.youquestion1 figcaption {
	margin-top: 1vw;
}

.youquestion2 {
	position: absolute;
	margin-top: 6vw;
	width: 100%;
	text-align: center;
	font-family: avenir next, sans-serif;
	font-size: 1.3vw;
	height: 30vw;
}

.youquestion2 figcaption {

}

.youquestion2 div {
	display: inline-block;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	margin-top: 2vw;
}

.question2p:hover {
	background-color: black;
	color: white;
	cursor: pointer;
	transition: 0.4s;
}

.question2p {
	border: 0.15vw solid black;
	padding: 1vw 1.5vw 1vw 1.5vw;
	border-radius: 0.3vw;
}

.youquestion3 {
	position: absolute;
	margin-top: 4vw;
	width: 100%;
	text-align: center;
	font-family: avenir next, sans-serif;
	font-size: 1.3vw;
	height: 40vw;
}

.youquestion3 p {
	margin-bottom: 2vw;
}


.youquestion3 figure {
	display: inline-block;
	width: 7vw;
	margin-top: 3vw;
	margin-bottom: 0;
	margin-right: 1.5vw;
	margin-left: 1.5vw;
	cursor: pointer;
}

.youquestion3 figcaption {
	text-transform: lowercase;
}

.stylebuttoncolor {
	/*position: absolute;*/
	border: 0.15vw solid black;
	padding: 1vw 1.8vw 1vw 1.8vw;
	font-family: courier-std, mono;
	text-transform: lowercase;
	font-size: 1.3vw;
	background-color: white;
	border-radius: 0.3vw;
	margin: 0;
	margin-top: 4.5vw;
	cursor: pointer;
}

.stylebuttoncolor:hover {
	color: white;
	background-color: black;
	transition: 0.3s;
}

#white {
	border: 0.1vw solid #c4c4c4;
	box-sizing: border-box;
}

.youquestion4 {
	position: absolute;
	margin-top: 6vw;
	width: 100%;
	text-align: center;
	font-family: avenir next, sans-serif;
	font-size: 1.3vw;
	height: 30vw;
}

.youquestion4 figure {
	display: inline-block;
	width: 8vw;
	margin-top: 5vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	cursor: pointer;
}

.youquestion4 figcaption {
	margin-top: 1vw;
}

.youquestion5 {
	position: absolute;
	margin-top: 6vw;
	width: 100%;
	text-align: center;
	font-family: avenir next, sans-serif;
	font-size: 1.3vw;
	height: 30vw;
}

.youquestion5 figure {
	display: inline-block;
	width: 10vw;
	margin-top: 5vw;
}

.youquestion5 img {
	cursor: pointer;
}

.youquestion5 figcaption {
	margin-top: 1vw;
}

.youquestion6 {
	position: absolute;
	margin-top: 5.5vw;
	width: 100%;
	text-align: center;
	font-family: avenir next, sans-serif;
	font-size: 1.3vw;
	height: 30vw;
}

.youquestion6 figure {
	display: inline-block;
	width: 10vw;
	margin-top: 5vw;
}

.youquestion6 img {
	cursor: pointer;
}

.youquestion6 figcaption {
	margin-top: 1vw;
}

.youquestion6 div {
	display: inline-block;
	padding-left: 7vw;
	padding-right: 6vw;
	margin-top: 1vw;
}

.youquestion7 {
	position: absolute;
	margin-top: 11vw;
	width: 100%;
	text-align: center;
	font-family: avenir next, sans-serif;
	font-size: 1.3vw;
	height: 30vw;
	/*margin-left: 25vw;*/
}

.youquestion7 figure {
	display: inline-block;
	width: 14vw;
	margin-top: 5vw;
	margin-right: 2vw;
	margin-left: 2vw;
	cursor: pointer;
}

.style1 {
	position: absolute;
	margin-top: 4vw;
	width: 100%;
	text-align: center;
	font-family: avenir next, sans-serif;
	font-size: 1.3vw;
	height: 30vw;
}

.style1 figure {
	display: inline-block;
	width: 14vw;
	margin-top: 3vw;
	margin-right: 2vw;
	margin-left: 2vw;
	cursor: pointer;
}

.stylebutton {
	border: 0.15vw solid #000000;
	padding: 1vw 1.8vw 1vw 1.8vw;
	font-family: avenir next, sans-serif;
	text-transform: lowercase;
	font-size: 1.3vw;
	background-color: white;
	border-radius: 0.3vw;
	margin: 0;
	margin-top: 4vw;
	cursor: pointer;
}

.stylebutton:hover {
	background-color: black;
	color: white;
	cursor: pointer;
	transition: 0.3s;
}

.imgselection2 {
	border: 0.3vw solid white;
	box-sizing: border-box;
}

.imgselection2:hover {
	box-shadow: 5px 10px 18px #cccccc;
}

.imgselection {
	border-radius: 0.3vw;
}

.imgselection:hover {
	animation-name: imageselection;
	transform: rotate(0deg);
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@keyframes imageselection {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(5deg)}
    50% {transform: rotate(0deg)}
    75% {transform: rotate(-5deg)}
    100% {transform: rotate(0deg)}
}

/*footer*/
.footer {
	position: absolute;
	width: 100%;
	text-align: center;
	text-transform: uppercase;	
}

ul {
	list-style: none;
	height: 4vw;
	background-color: #FAF9F5;
}

li {
	display: inline-block;
	font-size: 0.8vw;
	letter-spacing: 0.1vw;
	padding-right: 5vw;
	padding-top: 1.6vw;
}

.footer p {
	font-size: 0.8vw;
	letter-spacing: 0.1vw;
	padding-top: 1vw;
	padding-bottom: 1.1vw;
}

.indexfooter {
	margin-top: 54vw;
}
/*footer*/

.results {
	position: absolute;
	/*margin-top: 5vw;*/
	margin-left: 4vw;
}

.results h1 {
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 1vw;
}

.results h2 {
	font-weight: normal;
	font-size: 1vw;
	letter-spacing: 0.02vw;
	margin-top: 0.3vw;
}

.filters {
	margin-top: 1vw;
}

.container {
	position: absolute;
	margin-top: 6.9vw;
	width: 75vw;
	height: 49vw;
	margin-left: 22.5vw;
}

.prodimg {
	display: inline-block;
	width: 100%;
	z-index: 1;
	cursor: pointer;
	border-bottom: 0.1vw solid #cfcfcf;
	border-radius: 0.3vw 0.3vw 0vw 0vw;
}

.container > a {
	display: inline-block;
	width: 17vw;
	/*background-color: red;*/
	vertical-align: top;
	margin-bottom: 3vw;
	border: 0.1vw solid #dddddd;
	border-radius: 0.3vw;
	margin-left: 0.7vw;
	margin-right: 0.7vw;
}

.prod:hover {
	box-shadow: 1px 1px 18px #cccccc;
	transition: 0.3s;
}

.container p {
	width: 20vw;
	font-family: avenir next, sans-serif;
	font-size: 1vw;
	margin-left: 0.5vw;
	margin-top: 0;
	margin-bottom: 0;
}

.container .prodname {
	width: 18vw;
	font-family: avenir next, sans-serif;
	margin-top: 0.6vw;
}

.container .seller {
	color: #595959;
	font-size: 0.8vw;
	margin-top: 0.2vw;
}

.container .price {
	font-family: avenir next, sans-serif;
	font-weight: 600;
	margin-top: 0.7vw;
	font-size: 1.1vw;
	margin-bottom: 0.7vw;
}

.save {
	position: absolute;
	margin-top: 0vw;
	font-size: 1.2vw;
}

video {
	width: 35%;
}

.next {
	position: absolute;
	font-size: 2vw;
	font-family: avenir next, sans-serif;
	background-color: white;
	padding: 0.5vw 2vw 0.5vw 2vw;
	border: 0.1vw solid #cfcfcf;
	cursor: pointer;
	margin-top: 2vw;
	/*margin-left: 47.5vw;*/
}

.done {
	position: absolute;
	font-size: 2vw;
	font-family: avenir next, sans-serif;
	background-color: white;
	padding: 0.5vw 2vw 0.5vw 2vw;
	border: 0.1vw solid #cfcfcf;
	cursor: pointer;
	margin-top: 2vw;
	margin: -10vw;
	/*margin-left: 47.5vw;*/
}

.arrowleft {
	position: absolute;
	z-index: 1;
	margin-left: -20vw;
	margin-top: 12.5vw;
	opacity: 0.7;
}

.arrowright {
	position: absolute;
	z-index: 1;
	margin-left: 30vw;
	margin-top: 12.5vw;
	opacity: 0.7;
}

.arrowright3 {
	position: absolute;
	z-index: 1;
	margin-left: 50vw;
	margin-top: 12.5vw;
	opacity: 0.7;
}

.arrowleft3 {
	position: absolute;
	z-index: 1;
	margin-left: -18vw;
	margin-top: 12.5vw;
	opacity: 0.7;
}

.arrowleft5 {
	position: absolute;
	z-index: 1;
	margin-left: -7vw;
	margin-top: 6vw;
	opacity: 0.7;
}

.arrowright5 {
	position: absolute;
	z-index: 1;
	margin-left: 73vw;
	margin-top: 6vw;
	opacity: 0.7;
}

.arrowright:hover, .arrowleft:hover {
	opacity: 0.9;
	transition: 0.2s
}

.arrowright5:hover, .arrowleft5:hover {
	opacity: 0.9;
	transition: 0.2s
}

.smallheader {
	color: #666666;
	font-size: 0.8vw;
	font-family: avenir next, sans-serif;
	margin-left: 4vw;
}

.smallheader a{
	color: #666666;
	text-decoration: underline;
}

.resultsfooter {
	position: absolute;
	margin-top: 78vw;
}

@media only screen and (max-width: 1400px) {
.content {
	position: absolute;
	margin-top: 0.5vw;
}

h1 {
	font-size: 2.5vw;
}

h2 {
	margin-top: 3vw;
	font-size: 1.3vw;
}

video {
	margin-top: -1vw;
	width: 30%;
}

.forwho {
	margin-top: 3vw;
}

.questiontitle {
	font-size: 1.4vw;
}

.questiontitle2 {
	font-size: 1.4vw;
	margin-top: 4vw;
}

.youquestion {
	margin-top: 8vw;
}

.youquestion0 {
	margin-top: 9vw;
}

.youquestion0 figure {
	width: 14vw;
	margin-right: 1.5vw;
	margin-left: 1.5vw;
}

.youquestion1 {
	margin-top: 7vw;
}

.style1 {
	margin-top: 6vw;
}

.style1 figure {
	width: 15vw;
}

.youquestion3 {
	margin-top: 3.5vw;
	height: 36vw;
}

.youquestion3 figure {
	display: inline-block;
	width: 6vw;
	margin-top: 2.5vw;
	margin-bottom: 0;
	margin-right: 1.5vw;
	margin-left: 1.5vw;
}

.youquestion4 {
	margin-top: 8vw;
}

.youquestion5 {
	margin-top: 10vw;
}

.stylebutton {
	margin-bottom: 2vw;
}

}
